

@import url(clue.css);

.bg-transparent
{
background: transparent;
}

 @font-face { font-family: "product-sans"; src: url("../fonts/produc-sans.ttf");

}
.main-content {
  display: block;
  box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px; }

.main-content-right {
  box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: #F8F5FA;
  padding-bottom: 100px !important; }
  .main-content-right input[type=text], .main-content-right .tex-search, .main-content-right select, .main-content-right .action-option {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1) !important; }

textarea, input[type=text], .survey-taker, select {
  border: 1px;
  outline: 0px;
  color: #575757; }

textarea:focus, input[type=text] {
  border: 0px;
  outline: 0px;
  color: #575757; }

textarea:hover, input[type=text] {
  border: 0px;
  outline: 0px;
  color: #575757; }

.action-time {
  float: right; }
  .action-time .start-time {
    float: left; }
  .action-time .ket {
    float: left; }
  .action-time .endded-time {
    float: left; }

.start-action {
  padding-top: 30px;
  padding-bottom: 30px; }

.logout-alpha {
  display: block; }

.logout-beta {
  display: none; }

.result {
  padding-top: 0px;
  padding-bottom: 0px; }

.right-action {
  padding-top: 120px;
  border-radius: 0px 0px 0px 2px; }

@media screen and (max-width: 767px) {


    .logo {
    display: block;
    width: 100%; 
    overflow: auto;
    padding-left: 20%;
    padding-right: 20%;
}
    .logo img {
      width: auto !important;
     max-height: 100px !important;
     display: flex;
     left:0;
     right: 0;
     margin: 0 auto;
     position: relative;
     }


  .main-content-right {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    background: #F8F5FA;
    padding-bottom: 100px !important; }

  .start-action {
    padding-top: 0px;
    padding-bottom: 0px; }

  .main-content {
    display: block;
    box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }

  .create-survey {
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    background: #F8F5FA;
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px; }

  .list-now {
    background: #F8F5FA; }

  .right-action {
    padding-top: 20px; }

  .result {
    padding-top: 20px;
    padding-bottom: 20px; }

  .logout-alpha {
    display: none; }

  .logout-beta {
    display: block; }

  .action-time {
    float: left;
    clear: both; }
    .action-time .start-time {
      float: none;
      clear: both; }
    .action-time .ket {
      float: none;
      clear: both; }
    .action-time .endded-time {
      float: none;
      clear: both; } }
.border-red {
  border: 1px solid #E64B40 !important; }

.list-now {
  display: none; }

.list-action:checked + .list-now {
  display: block; }

.input-action {
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  display: block; }

.selection-data {
  position: relative;
  display: block;}
  .selection-data input {
    opacity: 0;
    display: none;
    position: absolute;
     }
  .selection-data span {
   
    border: 2px solid #7C4598;
    padding: 0px 4px;
    height: 20px;
    margin-left: 40%;
    width: 20px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    }
    .selection-data span i {
      font-size: 11px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      top: -2px;
      height: 7px;
      width: 7px;
      overflow: hidden;
      -moz-overflow: hidden;
      -o-overflow: hidden;
      -webkit-overflow: hidden;
      -ms-overflow: hidden;
      max-height: 7px;
      max-width: 7px;
      cursor: pointer;
      background: transparent;
      right: 0;
      position: relative;
      -moz-position: relative;
      -o-position: relative;
      -ms-position: relative;
      -webkit-position: relative; }
  .selection-data input:hover + span {
    background-color: transparent; }
  .selection-data input:checked + span {
    opacity: 1;
    background-color: transparent;
    transition: .1s ease; }
  .selection-data input:checked + span i {
    opacity: 1;
    color: #7C4598;
    transition: .1s ease; }

.selection-data-radio {
  position: relative;
  display: block;
  margin: 0 auto; }
  .selection-data-radio input {
    opacity: 0;
    display: none; 
  }
  .selection-data-radio span {
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box;
    border: 2px solid #7C4598;
    padding: 0px 4px;
    height: 20px;
    margin-left: 40%;
    width: 20px;
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    -moz-overflow: hidden;
    -o-overflow: hidden;
    -webkit-overflow: hidden;
    -ms-overflow: hidden;
    right: 0; }
    .selection-data-radio span i {
      font-weight: bold;
      text-align: center;
      top: -2px;
      height: 7px;
      width: 7px;
      overflow: hidden;
      -moz-overflow: hidden;
      -o-overflow: hidden;
      -webkit-overflow: hidden;
      -ms-overflow: hidden;
      max-height: 7px;
      max-width: 7px;
      cursor: pointer;
      background: transparent;
      right: 0;
      position: relative;
      -moz-position: relative;
      -o-position: relative;
      -ms-position: relative;
      -webkit-position: relative;
      font-size: 0px;
      height: 9px;
      width: 9px;
      position: absolute;
      background: #7C4598;
      left: 14.8px;
      display: none;
      opacity: 0;
      right: 14.8px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      bottom: 0;
      top: 16px;
      display: flex;
      margin: 0 auto;
      vertical-align: middle;
      aligning-item: center; 
      top: 7px;
    }
  .selection-data-radio input:hover + span {
    background-color: transparent; }
  .selection-data-radio input:checked + span {
    opacity: 1;
    background-color: transparent;
    transition: .1s ease; }
  .selection-data-radio input:checked + span i {
    opacity: 1;
    color: #7C4598;
    display: block;
    transition: .1s ease; }

/*# sourceMappingURL=main.style.css.map */


.logo-bye
{

}

.text-bye
{
  color: #7d4697;
  line-height: 1.3;
}
.greetings
{
  display: block;
  overflow: hidden;
}

.greetings::before
{
 content: '\201C';
  display: block;
  position: absolute;
  left: -30px;
  height: 100px;
  font-size: 80px;
  font-family: product-sans;
  top: -25px;
  width: 100px;
}


.after
{
  display: block;
  right: 0;

}

.bye
{
  opacity: 0;
}
.greetings::after
{
 content: '\201D';
  display: block;
  position: absolute;
  right: 15%;
  height: 100px;
  font-size: 80px;
  font-family: product-sans;
  bottom: 13px;
  width: 20px;
  margin-top: -10px;
}
.bold-text-strong
{

  font-weight: 800;
}

.logo-bye
{
left: 0;
right: 0;
margin: 0 auto;
justify-content: center;
vertical-align: middle;
position: absolute;
z-index: 99;

}


/*this for custmize the answere question */
.text-logo
{
  padding: 30px 0;
}
.text-logo span
{
 color: #7D4697
}
.text-logo span strong
{
   color: #121212;
}

.logo-icon
{
  float: right;
}

.logo-icon-responsive
{
  float: none;
  right: 0;
  left: 0;
  position: relative;
  display: flex;
 display: none;
  margin: 0 auto;
}
.container-this
{
  padding: 50px 0;
}

.check-answer{
  position: absolute;
  -moz-position: absolute;
  -o-position: absolute;
  -ms-position: absolute;
  -webkit-position: absolute;
  right: 0px;
  display: none; }
  .input-check input {
    opacity: 0;
    position: absolute; }
  .input-check span {
    background-color: #7C4598;
    padding: 0px 5px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    -moz-overflow: hidden;
    -o-overflow: hidden;
    -webkit-overflow: hidden;
    -ms-overflow: hidden;
    position: absolute;
    -moz-position: absolute;
    -o-position: absolute;
    -ms-position: absolute;
    -webkit-position: absolute;
    right: 0; }
    .input-check span i {
      font-size: 11px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      top: 1.5px;
      height: 7px;
      width: 7px;
      overflow: hidden;
      -moz-overflow: hidden;
      -o-overflow: hidden;
      -webkit-overflow: hidden;
      -ms-overflow: hidden;
      max-height: 7px;
      max-width: 7px;
      cursor: pointer;
      background: transparent;
      right: 4.2px; }
  .input-check input:hover + span {
    background-color: #6E3D87; }
  .input-check input:checked + span {
    opacity: 1;
    background-color: #fff;
    transition: .1s ease; }
  .input-check input:checked + span i {
    opacity: 1;
    color: #7C4598;
    transition: .1s ease; }

/*----radio button styling----*/
.radio-answer {
  position: absolute;

  left: 0;
  display: block; }
  .radio-answer input {
    display: none;
    opacity: 0;
    position: absolute; }
  .radio-answer span {
    background-color: #7C4598;
    padding: 5px;
    display: block;
    left: 0;
    position: relative;
    border-radius: 100%;
    cursor: pointer;
    top: -8px; }
    .radio-answer span strong {
      background-color: #fff;
      height: 8px;
      width: 8px;
      display: block;
      cursor: pointer;
      opacity: 1;
      border-radius: 50%;
      transition: 0.1s ease-all;
      cursor: pointer; }
  .radio-answer input:hover + span {
    background-color: #fff;
    cursor: pointer; 
  }
  .radio-answer input:hover + span strong
  {
    background-color: #7C4598; 
  }
  .radio-answer input:checked + span {
    opacity: 1;
    background-color: #fff;

    transition: 0.1s ease-all; }
  .radio-answer input:checked + span strong {
    opacity: 1;
    background-color: #7C4598;
    transition: .1s ease;
    cursor: pointer; }

.action-in-code
{
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.action-data:disabled
{
  background: transparent; 
}
textarea
{
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
line-height: 1.7;
resize: none;}


@media screen and (max-width: 767px)
{
  .text-logo
{
  display: none;
}
  .container-this
{
  padding: 0px 0;
}
  .main-content-a
  {
    padding: 0px 0;
  } 
  .logo-icon
  {
    display: none;
  }
 .logo-icon-responsive
 {
  display: flex;
 } 

 .text-logo
 {
  text-align: center;
  padding: 0px 0px;
 }

}


.text-client
{
  text-overflow: ellipsis;
  width: 200px;
}
.user
{
  width: 150px;
  overflow: hidden;

}
.table-wrap
{
  overflow-x: scroll;
}
.table-data-act
{
  min-width: 800px;
}
.table-data
{
  background: transparent;
}
.table-data tr
{
  background: transparent;
    outline: 0px;
    border: 0px;
    box-shadow: 0px;
}

.table-data tr td
{
  background: transparent;
   
    box-shadow: 0px transparent !important;
    outline: 0px !important;
}


input
{
  border: 0px;
  box-shadow: 0px;
  background: white;
  box-shadow: 0px transparent;
  padding-left: 2px;
  padding-right: 2px;
}
input:disabled
{
  background: transparent;
  outline: 0px  transparent !important;
  box-shadow: 0px transparent !important;
  border: 0px  transparent !important;

}

.action
{
  min-width: 250px;
}
.border-slace
{
  border-top: 1.5px dashed  #454545;
}

  .pagination-list
        {

        }
        .pagination-list li
        {
          background: #fff;
        }

        .pagination-list li a
        {
          color: #7D4697;
        }
        .pagination-list li:active
        {
          background: #fff;
        }

        .pagination-list li:focus
        {
          background: #fff;
          box-shadow:0px;
          outline: 0px;         
        }
        .pagination-list li:hover ,
        {
          background: #fff;
          box-shadow:0px;
          outline: 0px;         
        }
        .pagination-list li a:focus , .pagination-list li a:hover
        {
          background: #fff;
          box-shadow: 0px;
          outline: 0px;

        }

        
        .pagination-list .active a
        {
          background: #7D4697 !important;
          background-color: #7D4697 !important;
          border: 1px solid #866396;

        }

@media screen and (max-width: 320px)
{
  .user
{
  width: 210px;
}
}

