@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import url(ionicons.min.css);
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url(source/height/height.min.css);
@import url(source/width/width.min.css);
@import url(source/margin/margin.min.css);
@import url(source/padding/padding.min.css);
@import url(source/font/font.min.css);
@import url(source/any/main.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }
  *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box; }
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box; }

/*# sourceMappingURL=clue.css.map */
.pointer {
  cursor: pointer; }

.c-black-inverse {
  color: #808080 !important; }

.bg-transparent {
  background: transparent; }

@font-face {
  font-family: "product-sans";
  src: url("../fonts/produc-sans.ttf"); }
.main-content {
  display: block;
  box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px; }

.main-content-right {
  box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -3px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: #F8F5FA;
  padding-bottom: 100px !important; }

.start-action {
  padding-top: 30px;
  padding-bottom: 30px; }

.right-action {
  padding-top: 120px;
  border-radius: 0px 0px 0px 2px; }

.main-content-right input[type=text], input[type=email], .main-content-right .tex-search, .main-content-right select, .main-content-right .action-option {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1) !important; }

textarea, input[type=text], .survey-taker, select, input[type=email] {
  border: 1px;
  outline: 0px;
  color: #575757; }

textarea:focus, input[type=text], input[type=email] {
  border: 0px;
  outline: 0px;
  color: #575757; }

textarea:hover, input[type=text], input[type=email] {
  border: 0px;
  outline: 0px;
  color: #575757; }

.password {
  border: 1.2px solid transparent !important;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); }

.password:focus {
  outline: 0; }

.border-red {
  border: 1.2px solid #E87474 !important; }

.text-red {
  color: #D92525 !important; }

.logout-beta {
  display: none; }

@media screen and (max-width: 767px) {
  .right-action {
    padding-top: 20px;
    border-radius: 0px 0px 0px 0px; }

  .logout-alpha {
    display: none; }

  .logout-beta {
    display: block; }

  .create-survey {
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    background: #F8F5FA;
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px; }

  .logo {
    display: block;
    width: 100%;
    overflow: auto;
    padding-left: 20%;
    padding-right: 20%; }

  .logo img {
    width: auto !important;
    max-height: 100px !important;
    display: flex;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative; }

  .main-content-right {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0);
    background: #F8F5FA;
    padding-bottom: 100px !important; }

  .start-action {
    padding-top: 0px;
    padding-bottom: 0px; }

  .main-content {
    display: block;
    box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; } }
/*this for input files .html */
.data-upload {
  min-height: 250px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  max-height: 280px;
  border: 2px solid transparent;
  overflow: hidden;
  background: #fff;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  transition: 0.2s ease all; }
  .data-upload input[type=file] {
    min-height: 250px;
    max-height: 280px;
    overflow: hidden;
    width: 100%;
    opacity: 0; }

.draged {
  background: #fff;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.Browse-file {
  display: none; }

.Browse-file::after {
  content: '';
  width: 100px;
  height: 100px;
  display: block;
  background: red;
  position: absolute; }

.data-notif {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  align-content: center; }

.text-bye {
  color: #7d4697;
  line-height: 1.3; }

.greetings {
  display: block;
  overflow: hidden; }

.greetings::before {
  content: '\201C';
  display: block;
  position: absolute;
  left: -30px;
  height: 100px;
  font-size: 80px;
  font-family: product-sans;
  top: -25px;
  width: 100px; }

.after {
  display: block;
  right: 0; }

.bye {
  opacity: 0; }

.greetings::after {
  content: '\201D';
  display: block;
  position: absolute;
  right: 15%;
  height: 100px;
  font-size: 80px;
  font-family: product-sans;
  bottom: 13px;
  width: 20px;
  margin-top: -10px; }

.bold-text-strong {
  font-weight: 800; }

.logo-bye {
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  vertical-align: middle;
  position: absolute;
  z-index: 99; }

.text-logo {
  padding: 30px 0; }

.text-logo span {
  color: #7D4697; }

.text-logo span strong {
  color: #121212; }

.logo-icon {
  float: right; }

.logo-icon-responsive {
  float: none;
  right: 0;
  left: 0;
  position: relative;
  display: flex;
  display: none;
  margin: 0 auto; }

.container-this {
  padding: 50px 0px;
  width: 90% !important;
  margin: 0 auto;
  left: 0;
  right: 0; }

.second-color {
  background: #F8F5FA;
  box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 767px) {
  .main-content {
    display: block;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0px; }

  .container-this {
    padding: 0px 0px;
    width: 100% !important;
    margin: 0 auto;
    left: 0;
    right: 0; }

  .text-logo {
    display: none; }

  .container-this {
    padding: 0px 0; }

  .main-content-a {
    padding: 0px 0; }

  .logo-icon {
    display: none; }

  .logo-icon-responsive {
    display: flex; }

  .text-logo {
    text-align: center;
    padding: 0px 0px; } }

/*# sourceMappingURL=main.style.css.map */
