@import url(clue.css);
* {
    margin: 0;
    padding: 0
}

html,
body {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Open Sans', sans-serif !important
}

input,
textarea,
select {
    border: 0;
    outline: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    resize: none
}

input:focus,
textarea:focus,
select:focus {
    border: 0;
    outline: 0
}

.body-left {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative
}

.body-left .logo {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 12px 0
}

.body-left .logo img {
    width: 100%;
    height: 100%
}

.body-left .pick-select {
    height: 0;
    overflow: hidden;
    -moz-overflow: hidden;
    -o-overflow: hidden;
    -webkit-overflow: hidden;
    -ms-overflow: hidden
}

.body-left #pick:checked+.pick-select {
    height: auto
}

.rigth-body {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 2px -2px 26px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px -2px 26px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px -2px 26px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px -2px 26px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px -2px 26px 3px rgba(0, 0, 0, 0.1);
    background: #f7f5fa;
    -webkit-border-radius: 0 0 0 2px;
    -moz-border-radius: 0 0 0 2px;
    -ms-border-radius: 0 0 0 2px;
    -o-border-radius: 0 0 0 2px;
    border-radius: 0 0 0 2px;
    border-top: 0;
    border-left: .5px solid #edebf0;
    border-bottom: .5px solid #fcfaff
}

.rigth-body .dropdown-right {
    padding-bottom: 20px
}

.rigth-body .right-content {
    position: relative;
    -moz-position: relative;
    -o-position: relative;
    -ms-position: relative;
    -webkit-position: relative;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%
}

.rigth-body .right-content .selection-drop label {
    position: absolute;
    -moz-position: absolute;
    -o-position: absolute;
    -ms-position: absolute;
    -webkit-position: absolute;
    float: right;
    right: 0;
    margin-right: 25px;
    top: 5px;
    color: #7c4598;
    font-size: 13px
}

.rigth-body .right-content .right-mode-overlay {
    display: block
}

.rigth-body .right-content *[disabled] {
    display: block;
    background: rgba(194, 194, 194, 0.1)
}

.rigth-body .right-content textarea {
    overflow: hidden;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%
}

.rigth-body .right-content .selection {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    cursor: pointer
}

.rigth-body .right-content .survei-name {
    border-radius: 30px
}

.Logout-beta {
    display: none
}

.action-button {
    min-width: 120px;
    padding: 0 10px 0 15px;
    float: left
}

.action-button .button {
    min-width: 120px;
    width: 100%;
    max-width: 120px
}

.action-button i {
    font-size: 12px
}

.right-mode {
    padding-top: 10px;
}

.right-mode-overlay {
    padding-top: 110px;
}

.input-check {
    position: absolute;
    -moz-position: absolute;
    -o-position: absolute;
    -ms-position: absolute;
    -webkit-position: absolute;
    right: 0;
    display: none
}

.input-check input {
    opacity: 0;
    position: absolute
}

.input-check span {
    background-color: #7c4598;
    padding: 0 5px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    -moz-overflow: hidden;
    -o-overflow: hidden;
    -webkit-overflow: hidden;
    -ms-overflow: hidden;
    position: absolute;
    -moz-position: absolute;
    -o-position: absolute;
    -ms-position: absolute;
    -webkit-position: absolute;
    right: 0
}

.input-check span i {
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    top: 1.5px;
    height: 7px;
    width: 7px;
    overflow: hidden;
    -moz-overflow: hidden;
    -o-overflow: hidden;
    -webkit-overflow: hidden;
    -ms-overflow: hidden;
    max-height: 7px;
    max-width: 7px;
    cursor: pointer;
    background: transparent;
    right: 4.2px
}

.input-check input:hover+span {
    background-color: #6e3d87
}

.input-check input:checked+span {
    opacity: 1;
    background-color: #fff;
    transition: .1s ease
}

.input-check input:checked+span i {
    opacity: 1;
    color: #7c4598;
    transition: .1s ease
}

.input-radio {
    position: absolute;
    -moz-position: absolute;
    -o-position: absolute;
    -ms-position: absolute;
    -webkit-position: absolute;
    right: 0;
    display: block
}

.input-radio input {
    display: none;
    opacity: 0;
    position: absolute;
    -moz-position: absolute;
    -o-position: absolute;
    -ms-position: absolute;
    -webkit-position: absolute
}

.input-radio span {
    background-color: #7c4598;
    padding: 5px;
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    top: -8px
}

.input-radio span strong {
    background-color: #fff;
    height: 8px;
    width: 8px;
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .1s ease-all;
    -moz-transition: .1s ease-all;
    -o-transition: .1s ease-all;
    -ms-transition: .1s ease-all;
    transition: .1s ease-all;
    cursor: pointer
}

.input-radio input:hover+span {
    background-color: #6e3d87;
    cursor: pointer
}

.input-radio input:checked+span {
    opacity: 1;
    background-color: #fff;
    -webkit-transition: .1s ease-all;
    -moz-transition: .1s ease-all;
    -o-transition: .1s ease-all;
    -ms-transition: .1s ease-all;
    transition: .1s ease-all
}

.input-radio input:checked+span strong {
    opacity: 1;
    background-color: #7c4598;
    transition: .1s ease;
    cursor: pointer
}

.design-survey-option {
    margin: 0;
    padding: 0;
    width: 100%
}

#answer-5,
#answer-6 {
    display: none
}

.new-2,
.modif,
.publish,
.checkbox-publish,
#answer-5,
#answer-6,
.answer-6,
.answer-5,
.check,
.radio,
.newquestion {
    display: none
}

.input[disabled="disabled"] {
    background: rgba(0, 0, 0, 0.01)
}

@media screen and (max-width:767px) {
    .survey-select {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.6)
    }
    .design-survey-option {
        margin: 0;
        padding: 0 10%
    }
    .logo {
        max-height: auto;
        margin: 0;
        box-sizing: border-box;
        padding: 0
    }
    .logo img {
        width: auto;
        min-width: auto;
        height: auto;
        overflow: auto;
        -moz-overflow: auto;
        -o-overflow: auto;
        -webkit-overflow: auto;
        -ms-overflow: auto;
        max-width: 40%;
        max-width: auto;
        display: flex;
        margin: 0 auto;
        background-color: red !important
    }
    .rigth-body {
        box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -moz-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -o-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -webkit-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -ms-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0)
    }
    .rigth-body .dropdown-right {
        padding-top: 0;
        padding-bottom: 20px
    }
    .survey-select {
        background: #f7f5fa;
        width: 100%;
        padding: 20px 0 0 0;
        margin: 0
    }
    .Logout-alpha {
        display: none
    }
    .Logout-beta {
        display: block
    }
}

.border-violet {
    background: #7c4598;
    height: .8px;
    opacity: .7
}

.text-chose {
    font-size: 11px;
    color: #5e5e5e
}

.liker-chart-rad {
    display: none
}

.liker-chart-rad:disabled {
    display: none;
    opacity: 0;
    position: absolute
}

.input-likert {
    width: 16.6666666%;
    float: left
}

.likert-data {
    width: 20px;
    height: 20px;
    background: #7c4598;
    display: block;
    border: 6px solid #7c4598;
    border-radius: 100%;
    cursor: pointer
}

.liker-chart-rad:checked+.likert-data {
    background: #fff
}

.content-input {
    display: none
}

.question {
    display: block
}

.selettion select {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    background: #fff;
    padding-right: 10px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 20px 20px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1)
}

.select-lable {
    position: absolute;
    right: 30px;
    color: #5e5e5e;
    top: 18px
}

.dragable li {
    list-style: none;
    padding-top: 0;
    padding-bottom: 9px
}

.drag-act {
    background: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 20px 20px;
    cursor: move;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1)
}

.text-bank {
    text-decoration: none;
    color: #636363
}

.add-to-bank {
    position: relative;
    overflow: hidden
}

.add-bank {
    display: block;
    width: 24px;
    position: relative
}

.add-bank span {
    display: block;
    position: relative;
    background: transparent;
    border: 1.5px solid #7c4598;
    right: auto;
    bottom: auto;
    left: auto;
    top: auto;
    float: left !important;
    clear: both
}

.add-bank input span i {
    color: transparent
}

.add-bank input:checked+span i {
    color: #7c4598
}

.chose-from-bank-button span {
    font-size: 12px;
    margin-left: 4px
}

.chose-from-bank-button i {
    font-size: 14px
}

.choose-from {
    height: 0;
    overflow: hidden
}

.choose-from li span {
    font-size: 11px;
    margin-left: 3px
}

.choose-from li i {
    font-size: 13px;
    margin-left: 0 px
}

.q-name {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    width: 100%
}

.q-data {
    display: none
}

.q-name-data {
    display: none
}

.q-name-data:checked+.q-data {
    display: block
}

.input[type:checkbox]:disabled {
    opacity: 0;
    display: none !important
}

@media screen and (max-width:767px) {
    .add-to-bank {
        width: 100%;
        padding-top: 30px !important;
        margin-top: 30px
    }
}

@media screen and (max-width:433px) {
    .rigth-body {
        box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -moz-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -o-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -webkit-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0);
        -ms-box-shadow: -9px 3px 32px -5px rgba(0, 0, 0, 0)
    }
    .rigth-body .button-option button {
        min-width: 190px;
        width: 100%;
        max-width: 190%
    }
}

@media screen and (max-width:400px) {
    .action-button {
        min-width: 100px;
        padding: 0 10px 0 15px;
        float: left
    }
    .action-button .button {
        min-width: 110px;
        width: 100%;
        max-width: 110px;
        font-size: 12px
    }
    .action-button .button i {
        font-size: 10px
    }
}

@media screen and (max-width:370px) {
    .action-button {
        min-width: 100px;
        padding: 0 10px 0 11px;
        float: left
    }
    .action-button .button {
        min-width: 100px;
        width: 100%;
        max-width: 100px;
        font-size: 11px
    }
    .action-button .button i {
        font-size: 10px
    }
}

@media screen and (max-width:355px) {
    .action-button {
        min-width: 92px;
        padding: 0 10px 0 15px;
        float: left
    }
    .action-button .button {
        min-width: 92px;
        width: 100%;
        max-width: 92px;
        font-size: 10spx
    }
    .action-button .button i {
        font-size: 9px
    }
}

.likert {
    left: 0 !important;
    float: left !important
}

*[rankink-active] {
    box-sizing: border-box;
    overflow: hidden;
}

*[rankink-active=true] {
    background: #E8E6EB;
    border: 1px solid #D8D3E0;
    border-radius: 3px !important;
}

.js-error {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    position: fixed;
    margin: 0 auto;
    display: flex;
    left: 0;
    color: red;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    align-content: center;
    right: 0;
    top: 0;
    bottom: 0;
}